body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  border: 1px solid blue;
  align-items: center;
  flex-direction: column;
  /* height: 50%; */
}

.nav-container {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: lightgray;
}

.nav-header {
  margin-left: 30px;
  margin-right: 180px;
}

.nav-search-container {
  display: inline;
  /* margin-right: 30px; */
}

/* Dropdown Button */
.drop-button {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.testing-container {
  display: relative;
}

/* Hear Section */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../assets/iot_desk.jpg") no-repeat center / cover;
  color: white;
}
.hero-header > * {
  position: relative;
  font-size: 60px;
  margin-bottom: 0;
}

.hero-header-sub > * {
  font-size: 25px;
  margin-top: 0;
}

.hero-button {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.nav-search-input {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #04aa6d;
}

.nav-search-button {
  background-color: #04aa6d;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

/* Body Container  */
.body-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 6fr 1fr;
  grid-template-areas:
    " main aside-container"
    "footer footer";
  border: 1px solid black;
  /* gap: 10px; */
}

main {
  border: 1px solid black;
  grid-area: main;
}

footer {
  border: 1px solid green;
  grid-area: footer;
}

.aside-container {
  grid-area: aside-container;
  border: 1px solid red;
}
