body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  border: 1px solid blue;
  align-items: center;
  flex-direction: column;
  /* height: 50%; */
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav {
  /* border: 1px solid black; */
}

.body-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 6fr 1fr;
  grid-template-areas:
    " main aside-container"
    "footer footer";
  border: 1px solid black;
  /* gap: 10px; */
}

main {
  border: 1px solid black;
  grid-area: main;
}

footer {
  border: 1px solid green;
  grid-area: footer;
}

.aside-container {
  grid-area: aside-container;
  border: 1px solid red;
}
